*
{
    margin: 0px;
    padding: 0px;
}

header
{
    background: #D6EFD8;
    height: 60px;
}

main
{
    background: rgb(202, 225, 206);
    height: calc(100vh - 120px);
}

footer
{
    background: #D6EFD8;
    height: 60px;
}


p
{
    background: #80AF81;
    width: 50%;
    padding: 25px;
    margin: 10px;
}

b
{
    background: #508D4E
}